/*Allgemein*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
	font-family: 'Montserrat';
	line-height: normal;
}

h2{
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	color: black; 
	background-color: rgb(240, 227, 252);
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
h3{
	padding-left: 10px;
}
li{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Allgemein - Kartentitel*/
.card-title{
	text-align: center;
	font-weight: bold;
	border-bottom: 2px dashed #666;
	padding-bottom: 10px;
	font-size: 115%;
}

/*Allgemein - Button*/
.btn-success {
	background-color: rgb(212, 174, 248) !important;
	color: white !important;
	border: none !important;
	box-shadow: 4px 4px 2px -2px rgba(0,0,0,.2) !important;
}

.btn-success:hover {
	background-color: rgb(240, 227, 252) !important;
	color: black !important;
}

/*Navigationsbereich*/
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
nav li{
	float: left;
}
nav li a{
	display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 90%;
}
nav li a:hover:not(.active){
	background-color: #ddd;
}
nav li a.active {
	color: white;
	background-color: rgb(212, 174, 248);
}

/*Startseite - Karten*/
.hauptseite .b-card{
	border: 2px solid #666;
	border-radius: 5px;
	padding: 10px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
	font-size: 110%;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}
.b-card:last-child{
	margin-right: 15px;
}

/*Zahlensysteme und Konvertierung*/
.box {
	float: left;
	width: 50%;
}
.clip {
	width: 100%;
	height: auto;
	max-height: 350px;
	min-height: 300px;
}
.zahlensysteme .b-card{
	width: 95%;
	border: 2px solid #666;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
	font-size: 120%;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}

/*Vorzeichenlose und vorzeichenbehaftete Zahlen*/
div h3 {
	font-weight: bold;
	padding-left: 0px;
}
div h4 {
	font-weight: bold;
	font-size: 150%;
}
div p {
	font-weight: normal;
}
div tr {
	font-weight: normal;
}
div li {
	font-weight: normal;
}
.beispiel .b-card{
	border: 2px solid #666;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
	font-size: 120%;
	text-align: center;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}
.info .b-card{
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
	font-size: 120%;
	text-align: center;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}
.umrechnung .b-card{
	border: 2px solid #666;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
	font-size: 120%;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}
.tg {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	width: 100%;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}
.tg tr:nth-child(even) {
	background-color: #f2f2f2;
}
.tg tr:hover {
	background-color: #ddd;
}
.tg td {
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
.tg th {
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}
.tg .tg-s6z2 {
	text-align: center;
}

/*Darstellung rationaler Zahlen*/
img.pformat{
	height: 60px;
	padding: 5px;
}
img.bsp{
	height: 150px;
}
.v-card{
	height: 650px;
	border: 2px solid #666;
	border-radius: 5px;
	padding:15px;
	margin: 15px;
	margin-right: 7,5px;
	background-color: #f3f3f3;
}
.umrechnung video{
	height: 200px;
	padding: 10px;
}

/*Impressum*/
.impressum .b-card{
	border: 2px solid #666;
	border-radius: 5px;
	padding: 10px;
	padding-top: 5px;
	margin: 15px;
	background-color: #f3f3f3;
	font-size: 110%;
	box-shadow: 6px 6px 2px -2px rgba(0,0,0,.2);
}